<div class="wrapper cf">
  <section id="main">
    <div id="logo">
      <%= image_tag "logo-main.svg" %>
    </div>
    <h1>Vous aimez la course à pied</h1>
    <p>Il est possible de vous mettre en contact avec d'autres runners via ce site.</p>
    <%= link_to 'Allez hop on embarque', new_user_registration_path, class:"button button_green", id: "home-page" %>
  </section>
</div>

<% content_for :after_js do %>
  <script>
    $(window).on("scroll", function(){
      if ( $(this).scrollTop() > 80 ){
         $(".navbar-wagon").css("background-color", "#222222");
         $('#login-btn').css("color", 'white');
         $('#login-btn').css("border-color", 'white');
      } else {
         $(".navbar-wagon").css("background-color", "transparent");
         $('#login-btn').css("color", 'white');
         $('#login-btn').css("border-color", 'white');
      }
    });
  </script>
<% end %>
